.container {
   height: 350px;
   width: 100%;
   max-width:1150;
   max-height: 700px;

}
.container_left {
   width: 70%;
   height: 100%;
   max-width: 700px;
   
}
.container_right {
   width: 30%;
   max-width: 30%;
   height: 350px;
   background: #EC5863;
   border-radius: 30px 0px 0px 30px;
}

.container_right button {
   width: 65px;
   height: 20px;
   max-width:65px;
   max-height: 20px;
   text-align: center;
   color: #FAFBFD;
   background: #4285F4;
   border-radius:5px;
   border: none;
font-family: 'Raleway', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 8px;
line-height: 6px;
/* identical to box height */
letter-spacing: 0.14em;
margin: 30px;



}

.container_left_nav {
   margin: 30px;
   margin-left: 5px;
}

.container_left_nav img {
   max-width: 100%;
   width: 70px;
   height: 20px;
}
.container_left_links {
   margin-left: 0px;
   margin-top: 0px;
}
.container_left_links a {
   text-decoration: none;
   text-align: center;
   margin-left: 2px;
   font-family: 'Raleway', sans-serif; 
font-style: normal;
font-weight: 700;
font-size: 6px;
line-height: 12px;

letter-spacing: 0.14em;

color: #000000;
}
.container_left_text {
   width: 150px;
height: 220px;

margin-top: 20px;
}
.container_left_text h1 {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 126%;
   /* or 55px */
   font-feature-settings: 'pnum' on, 'lnum' on;
   margin: 3px;
   
}
.container_left_text p {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 138.5%;
   /* or 17px */
   letter-spacing: 0.08em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #616161;
   margin: 3px;
}
.container_left_text button {
   width: 72px;
   height: 20px;
   border: none;
   border-radius: 5px;
   text-align: center;
   color: #FAFBFD;
   background: #EC5863;
   margin: 3px;
   font-size: 10px; }
   .container_left_content img {
      max-width: 100%;
      width: 25%;
      height: 25%;
      margin-top: 50px;
   }
   