* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0px;
   background: #FAFBFD;
   scroll-behavior: smooth;
}
.container {
   width: 100%;
   height: 550px;
   display: flex;
}
.left_part {
   width:85%;
   height: 100%;
}
.right_part {
   width: 15%;
   height: 100%;
   background: #EC5863;
   border-radius: 30px 0px 0px 30px;
   border: none;
}
.right_part button {
   width: 140px;
   height: 40px;
   text-align: center;
   color: #FAFBFD;
   border: none;
   border-radius: 5px;
   margin: 10px;
   background: #4285F4;
   font-size: 14px;
   font-family: 'Raleway', sans-serif;
}
@media only screen and (min-width:500px) and (orientation:landscape) {
.right_part button {
   width: 100px;
   margin: 5px;
   margin-top: 15px;
}
}
.left_part_nav {
   display: flex;
   gap: 2px;
}
.left_nav_links {
   margin-top: 15px;
   margin-left: 170px;
   float: right;
  
}
.left_nav_links a {
   margin-left: 2px;
   text-align: center;
   text-decoration: none;
   font-family: 'Raleway, sans-serif';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* identical to box height */
letter-spacing: 0.14em;

color: #000000;
}
.left_part_text {

height: 220px;
margin: 20PX;
width: 497px;
display: block;
margin-top: 120px;
}
.left_part_text h1 {
   font-style: normal;
   font-family: 'Rubik', sans-serif;
   font-weight: 700;
   font-size: 44px;
   line-height: 55px;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: #000000;
   margin: 10px;
}
.left_part_text p {
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 17px;
   font-family: 'Rubik', sans-serif;
   letter-spacing: 0.08em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #616161;
   margin: 15px;
}
.left_part_text button {
   width: 144px;
   height: 40px;
   border: none;
   border-radius: 5px;
   text-align: center;
   background: #EC5863;
   color: #FAFBFD;
   font-size: 14px;
   margin:55px;
}
.left_part_content img {
   max-width: 100%; 
}
@media only screen and (min-width:500px) and (orientation:landscape) {
.left_part_content img {
   width: 30%;
   height: 30%;
   margin-top: 120px;
}
.left_part_text button {
   margin-top: 0px;
}
}
.button_section {
   width: 228px;
   height: 40px;
  
   margin-left: 70px;
   display: flex;
   gap: 1px;
   margin-top: 0px;
}
.button_section button {
   width: 44px;
   height: 44px;
   border: 0.5px solid #4285F4;
   border-radius: 50%;
   background: #FAFBFD;
   text-align: center;

}
.button_section p {
   font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 126%;
/* or 16px */
letter-spacing: 0.08em;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #B0B0B0;
}
@media only screen and (min-width:500px) and (orientation:landscape) {
 .button_section {
   margin-top: 50px;
 }  
}
.stay_safe_block {
   width: 100%; 
   height: 700px;
   display: flex;
   gap:10px;
}


.stay_safe_left {
   width:338px;
   height:542px;
   margin: 10px;
}
.stay_safe_right {
   width: 379px;
height: 238px;
margin-left: 50px;
margin: 10px;
text-align: center;
float: right;
}
#first_big_circle {
   width: 74px;
   height: 74px;
   border: none;
   border-radius: 30px 0px 0px 30px;
   background: #EC5863;
   margin: 5px;
}
#small_left_circle {
width: 70px;
height: 70px;
border:none;
border-radius:0px 0px 0px 30px;
background: #EC5863;
margin-top: -30px;
}
#small_right_circle {
   width: 70px;
   height: 70px;
   border:none;
   border-radius:0px 50px 0px 0px;
   background: #EC5863;
   margin-left: 230px;
   margin-top: 0px;
}
.stay_safe_right h1 {
   font-family: 'Rubik', sans-serif; 
   font-style: normal;
   font-weight: 700;
   font-size: 44px;
   line-height: 126%;
   /* or 55px */
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #000000;
}
.stay_safe_right p {
   font-style: normal;
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 12px;
   line-height: 138.5%;
   /* or 17px */
   letter-spacing: 0.08em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #616161;
}
.stay_safe_right button {
width: 144px;
height: 40px;
border: none;
border-radius: 5px;
color: #FAFBFD;
text-align: center;
font-family: 'Rubik', sans-serif;
background-color: #EC5863;
}
.banner_container {
   width: 100%;
   height: 700px;
}
.banner_container_circles {
   display: flex;
   gap:5px;
   width: 100%;
   height: 80px;
   margin-bottom: 0px;
   justify-content: space-around;
}
#leftcirkl {
width: 35px;
height: 35px;
border: none;
border-radius: 30px 0px 0px 10px;
background:#EC5863;
margin-top: 40px;
}
#middlecirkl {
   width: 35px;
   height: 35px;
   border: none;
   border-radius: 30px 30px 0px 0px;
   background:#EC5863;
   margin-top: 40px;
   }

#rightcirckl {
   width: 35px;
   height: 35px;
   border: none;
   border-radius: 30px 0px 30px 0px;
   background:#EC5863;
   margin-top: 40px;
}
.banner_container_content {
   width: 100%;
   height: 117px;
   margin: 0 auto;
background: #FFFFFF;
box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
border-radius: 5px;
display: flex;
justify-content: space-between;
}
.first_box {
   width: 20%;
   height: 100px;
}
.first_box h1{
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 43px;
   /* identical to box height */
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.14em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #EC5863;
}
.first_box p {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 11px;
   line-height: 13px;
   /* identical to box height */
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.37em;
   text-transform: uppercase;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #000000;
}
.second_box {
   width: 30%;
   height: 100px;
}
.second_box h1 {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 43px;
   /* identical to box height */
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.14em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #EC5863;
}
.second_box p {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 11px;
   line-height: 13px;
   /* identical to box height */
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.37em;
   text-transform: uppercase;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #000000;
}
.thirdth_box {
   width: 50%;
   height: 100px;
}
.thirdth_box h1 {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 36px;
   line-height: 43px;
   /* identical to box height */
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.14em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #EC5863;
}
.thirdth_box p {
   font-family: 'Rubik', sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 11px;
   line-height: 13px;
   /* identical to box height */
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.37em;
   text-transform: uppercase;
   font-feature-settings: 'pnum' on, 'lnum' on;
   
   color: #000000;
}
.banner_container_title {
   width: 100%;
   height: fit-content;
   display: flex;
   justify-content: space-between;
}
.banner_container_title img {
   max-width: 100%;
}
.banner_container_text h1 {
   font-style: normal;
   font-family: 'Rubik', sans-serif;
   font-weight: 700;
   font-size: 44px;
   line-height: 55px;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: #000000;
   margin: 10px;
}
.banner_container_text p {
   font-style: normal;
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 12px;
   line-height: 138.5%;
   /* or 17px */
   letter-spacing: 0.08em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   margin: 10px;
   color: #616161;
}
.banner_container_text button {
   width: 144px;
   height: 40px;
   border: none;
   border-radius: 5px;
   color: #FAFBFD;
   text-align: center;
   font-family: 'Rubik', sans-serif;
   background-color: #EC5863;
   margin: 10px;
}
.title {
   width: 100%;
   height: fit-content;
   margin: 0 auto;
   align-items: center;
   display: block;
}
.title h1 {
   font-style: normal;
   font-family: 'Rubik', sans-serif;
   font-weight: 700;
   font-size: 44px;
   line-height: 55px;
   font-feature-settings: 'pnum' on, 'lnum' on;
   color: #000000;
   margin: 10px;
   text-align: center;
}
.title p {
   font-style: normal;
   font-family: 'Rubik', sans-serif;
   font-weight: 400;
   font-size: 12px;
   line-height: 138.5%;
   /* or 17px */
   letter-spacing: 0.08em;
   font-feature-settings: 'pnum' on, 'lnum' on;
   margin: 10px;
   color: #616161;
   text-align: center;
}
.column_row {
   margin: 0 auto;
   align-items: center;
   display: flex;
   justify-content: space-around;
   width: 100%;
   height: fit-content;
}
.column_row img {
   max-width: 100%;
}
.foother {
   margin: 0 auto;
   align-items: center;
   display: flex;
   justify-content: center;
   gap: 0px;
   width: 100%;
   height: fit-content;
}
.foother img {
   text-align: center;
   max-width: 100%;
   width:165px;
   height:66px;
}