.header {
   margin-bottom: $margin-y;
   height: auto;
   position: fixed;
   left: 0;
   top: 20px;
   
   z-index: 3;
   @include tablet {
    top: 0;
    
   }
    
    

    // .header__content

    &__content {
        display: inline-flex;
        justify-content: space-evenly;
        align-items: center;
        flex-flow: row nowrap;
        gap: 260px;
        row-gap: 12px;
        @include tablet {
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }

    }

    // .header__logo--item

    &__logo--item {
        width: 140px;
        height: 40px;
        display: flex;
        justify-content: flex-start;
        flex-shrink: 0;
        margin-left: 120px;
        @include tablet {
            margin-left: 12px;
            width: calc(140px /1.618);
        }
    }

    // .header__navigation

    &__navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        row-gap: 60px;
        padding: 4px;
        flex-flow: row nowrap;
        @include mobile {
            flex-flow: row nowrap;
            row-gap: 4px;
            margin-bottom: 8px;
        }
    }

    // .header__navigation--link

    &__navigation--link {
        margin-left: 42px;
        text-wrap: nowrap;
        @include hover {
            color: var(--blue);
        }
        @include tablet {
            margin-left: 12px;
        }

    }

    // .header__btn--cta

    &__btn--cta {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 250px;
        @include laptop {
            margin-left: 0;
        }
        

    }
}

